@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
}

/* HEADER: */
.row {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 14px;
}


.logo img {
    display: block;
}

.navigation {
    display: flex;  
    align-items: center;
    gap: 40px;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: var(--GrayishViolet);
    font-weight: 600;
}
nav ul li a:hover {
    color: var(--DarkViolet);
}

.header-toggles {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 600;
}
.header-toggles div {
    cursor: pointer;
}

.login {
    color: var(--GrayishViolet);
}

.sign-up {
    color: white;
    background-color: var(--Cyan);
    padding: 7px 20px;
    border-radius: 20px;
}
.sign-up:hover {
    background-color: hsl(180, 66%, 55%);
}

.hamburger {
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.hamburger div {
    height: 4px;
    width: 100%;
    background-color: var(--GrayishViolet);
}
.hamburger div:not(:last-child){
    margin-bottom: 5px;
}
/* Imo */
.container{
    display: flex;
    justify-content: space-between;
}
.row {
    width: 80%;
    margin: 0 auto;
}
.illus{
    margin: 70px 0 50px 0;
    width: 43%;
    padding: 10px;
}
.illus img{
    width: 100%;
}

/* HEADER RESPONSIVENESS: */

@media (max-width: 1000px){
    header {
        width: 90%;
    }
    .hamburger {
        display: block;
    }
    nav {
        display: none;
    }
    .header-toggles {
        display: none;
    }
}
.linkss{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
}
.link{
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.link-but{
    display: flex;
    justify-content: center;
}
.link-p{
    word-break: break-all;
    margin-top: 10px;
    margin-right: 5px;
}
.link-but p{
    color: var(--Cyan);
    align-items: center;
}
.link-copi{
    cursor: pointer;
    color: white;
    background-color: var(--Cyan);
    padding: 10px 20px;    
    border-radius: 5px;
    border: none;
}
.link-copi:hover{
    background-color: hsl(180, 66%, 55%)
}
.link-copied{
    color: white;
    background-color: var(--DarkViolet);
    padding: 10px 13px;    
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.link-copied:hover{
    background-color: var(--Red);
}
hr{
    display: none;
    margin: 10px 0;
    
}
/* SHORTEN LINK RESPONSIVENESS WRITTEN BY STEPHEN */
@media (max-width: 1200px){
    .linkss{
    width: 90%;
    }
}
@media (max-width:576px){
    .links{
        text-align: center;
    }
    .link{
        display: grid;
    }
    .link-but{
        display: grid;
        justify-content: left;
    }
    .link-copi{
        padding: 10px 100%;
        font-size: 4vw;
        margin-top: 10px;
        margin-left: none;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .link-copied{
        padding: 10px 92%;
        font-size: 4vw;
        margin-top: 10px;
        margin-left: none;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .link-p{
        font-size: 4vw;
        text-align: left;
    }
    hr{
        display: block;
        width: 100%;
    }
}
@media (max-width:425px){
    .link-copi{
        padding: 10px 96%;
        font-size: 4vw;
        margin-top: 10px;
        margin-left: none;
    }
    .link-copied{
        padding: 10px 89%;
        font-size: 4vw;
        margin-top: 10px;
        margin-left: none;
        border: none;
    }
}


/* SHORTEN LINK SECTION STYLYING */

/* James Obaji's Contribution to section class=links */
.linkss{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
}
.link-section{
    background-image: url(./images/bg-shorten-desktop.svg);
    background-size: cover;
    background-color: var(--GrayishViolet);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.shorten-it{
    cursor: pointer;
    color: white;
    text-align: center;
    word-wrap: break-word;
    background-color: var(--Cyan);
    padding: 7px 20px;
    border-radius: 10px;
    max-width: 1024px;
    width: 20%;
    height: 40px;
    border: none;
}
.shorten-it:hover{
    background-color: hsl(180, 66%, 55%)
}
input{
padding: 10px;
margin-right:10px;
border-radius: 10px;
width: 75%;
border: solid var(--Red);
}
input:focus{
    outline: none;
}
::placeholder{
    color: var(--Red);
}
.p-link{
    color: var(--Red);
    font-style: italic;
    margin: 5px;
}
.p-link2{
    color: var(--Red);
    font-style: italic;
    display: none;
    margin: 5px;
}
/* End of James Obaji's section class=linkss styling contribution */

/* Responsive of James Obaji's section class=linkss contribution */
@media (max-width: 1200px){
    .linkss{
        width: 90%;
    }
    
}
@media (max-width: 768px){
    input{
        margin-right: 10px;
        }
        .shorten-it{
            width: 20%;
            height: 40px;
            font-size: 2vw;
        }
        
}
@media (max-width:576px){
    .link-section{
        background-image: url(./images/bg-shorten-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    input{
        width: 100%;
        height: 50px;
        }
        .shorten-it{
            width: 100%;
            height: 50px;
            font-size: 4vw;
        }
        .p-link{
            display: none;
        }
        .p-link2{
            display: block;
            margin-bottom: 20px;
        }
    }
    
    @media (max-width:425px){
        .link-section{
            background-image: url(./images/bg-shorten-mobile.svg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .p-link{
            display: none;
        }
    }
    /* End of James Obaji's Responsiveness to Section class=linkss */
     /* css stylings done by Ebere Sunday Emmanuel */
.linkss{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
    
}

/* Fareed styling */

footer{
    background-color: var(--VeryDarkViolet);
    margin-top: 30px;
    width: 100%;
    
}
.footer-section{ 
    display: flex;  
    margin-top: 30px;
}

#head{
    font-weight: bold;
    font-size: 20px;
}

.logo{
    margin-top: 50px;
    color: white;
}
.footer-section ul{ 
    justify-content: space-between;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.footer-section ul li{
    list-style: none;
    margin-top: 10px;
}
   
.footer-section ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    
}
.footer-section ul li a:hover{
    color: var(--Cyan);
}


/* Footer Responsiveness */

@media screen and (max-width:768px){
     .footer-section{
       display: block;
       text-align: center;
     }

     .logo img{
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 30%;
     }
     .footer-section ul{
         margin-left: 33%;
     }
     
     footer{
        width: 100vh;
     }
}
   

/* End of Yusuf and Ombidike styling */


/* End of Doumo and Imo Peter's Styling. */


/* Nuel Chuks' Styling: */
.advanced {
    background-color: rgb(247, 239, 239);
    height: 100vh;
    width: 80%;
    position: relative;
    margin-top: 3%;
    padding-top: 8%;
    margin-left: 10%;
    text-align: center;
   
}
.head {
    margin-bottom: 3%;
}
.head > p {
    color: var(--GrayishViolet); 
    line-height: 1.7em;
    font-weight: 500;
}
.head > h1 {
    color:  var(--VeryDarkViolet);
}
h1 {
    margin-bottom: 2%;
}
.features {
    position: relative;
    display: flex;
    margin-left: 3%;
    margin-top: 7%;
}
.box1 > p {
    font-size: 14px;
    color: var(--GrayishViolet);
    line-height: 1.7em;
}
h3 {
    margin-bottom: 4%;
    font-size: large;
    color: var(--VeryDarkViolet);
}
.box1 {
    position: absolute;
    background-color: white;
    padding: 80px 25px 35px;
    text-align: justify;
    border-radius: 10px;
    margin-left: 2%;
    
}
#img1 {
    position: absolute;
    background-color: var(--VeryDarkViolet);
    border-radius: 50%;
    padding: 18px;
    top: -30px;
}
/* End of Nuel Chucks styling*/

/* Nuel Container Responsiveness */
@media  (max-width: 768px) {

    .advanced {
        right: 5%;
        height: 1100px;
        width: 690px;
    }
    .features {
        display: block;
        margin-top: 10%;
        width: 100vw;
       
    }
    .box1 {
        margin-left: 28%;
        padding: 80px 20px 35px;
        text-align: center;
       width: 300px;
    }
    #img1 {
        margin-left: -9%;
    }
}
/*End of Nuel Container Responsiveness */

/*Akukwe Olivia's Styling. */
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Background by Ayodele Praise */
    background-image: url(./images/bg-boost-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(255, 11%, 22%);
    padding-block: 20px;
    margin-top: 60px;
}
.bottom p{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.bottom button{
    width: 14%;
    background-color: var(--Cyan);
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.bottom button:hover{
    background-color: rgb(143, 235, 235);
}

@media (max-width:1200px){
    .bottom{
        background-image: url(./images/bg-boost-mobile.svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 10vh;
        margin-top: 10px;
    }
    .bottom p{
        color: white;
        font-size: 30px;
    }
    .bottom button{
        width: 30%;
        padding-block: 10px;
        border-radius: 30px;
        background-color: var(--Cyan);
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
/* End of Praise Ayodele and Akukwe Olivia's Styling */

/* Yusuf and Ombimdike and James-L styling */

footer{
    background-color: var(--VeryDarkViolet);
}

.logo{
    color: white;
}
.logo h1{
   font-size: 23px;
   font-weight: bold;
}
 .soc-handles{
    display: flex;
    justify-content: space-between;
    width:100px;
    align-items: center;
 
}

.soc-handles ul{
    display: flex;
    margin-left: 50px;
}
.soc-handles ul li{
   justify-content: space-around;
   width: 50px;
}

.soc-handles a{
   color: white;
   font-size: 15px;
}
.soc-handles a:hover{
   color:var(--Cyan);
}
.socials-img{
    display:flex;
    justify-content:space-between;
}
@media screen and (max-width:360px){
    
     .soc-handles ul{
       display: none;
    } 
}
/* End of Yusuf and Ombidike styling and James-L */

footer{
    background: var(--VeryDarkBlue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px 130px;
}

footer div h4{
    color: #fff;
}
footer div ul li a{
    color: var(--Gray);
    font-size: 12px;
}
footer div ul li a:hover{
    color: rgb(15, 185, 252);
}

/* Footer Responsiveness */


@media (max-width: 1000px){
    footer{
        display: block;
     }
   
}